<!-- <Page (loaded)="onPageLoaded($event)">
    <GridLayout class="grid-container" androidStatusBarBackground="transparent">
        <GridLayout *ngIf="isRendering" width="100%" height="100%">
            <GridLayout width="100%" height="15%" backgroundColor="black" opacity=".7" verticalAlignment="top">
                <Image class="logo" stretch="aspectFill" src="res://valet_logo"></Image>
                <Button class="dropdown-button" id="menuButton" text="Change Tenant" (tap)="openMenu()"
                    horizontalAlignment="right" verticalAlignment="middle"></Button>
            </GridLayout>

            <GridLayout class="credential-box" rows="auto,auto,*">
                <StackLayout row="0" width="80%" height="32%" orientation="horizontal">
                    <StackLayout class="user-password-icon">
                        <Image src="res://icon_username"></Image>
                    </StackLayout>
                    <GridLayout width="80%" marginLeft="5%">
                        <TextField class="text-input" hint="Email" verticalAlignment="middle"
                            style.placeholderColor="#B9B9B9" autocorrect="false"
                            (returnPress)="onEmailReturnPress($event)" returnKeyType="next"
                            (textChange)="emailTextField($event)">
                        </TextField>
                    </GridLayout>
                </StackLayout>

                <StackLayout row="1" width="80%" height="28%" orientation="horizontal">
                    <StackLayout class="user-password-icon">
                        <Image src="res://icon_password"></Image>
                    </StackLayout>
                    <GridLayout width="80%" marginLeft="5%">
                        <TextField class="text-input" hint="Password" (loaded)="onPasswordTextFieldLoaded($event)"
                            verticalAlignment="middle" style.placeholderColor="#B9B9B9" secure="true"
                            returnKeyType="done" (textChange)="passwordTextField($event)"></TextField>
                    </GridLayout>
                </StackLayout>

                <StackLayout row="2" class="login-button-container">
                    <Button text="Login" class="font-weight-bold login-button" (tap)="onLoginTap()"></Button>
                </StackLayout>

                <GridLayout row="3" height="18%" verticalAlignment="middle" horizontalAlignment="center">
                    <Button class="font-italic forgot-password-label" text="Forgot Password"></Button>
                </GridLayout>
            </GridLayout>
        </GridLayout>

        <GridLayout #tanentDialog modal size="sm" duration="100">
            <GridLayout class="tenant-dialog" rows="auto,auto">
                <GridLayout row="0" width="80%" height="30%" marginTop="17.5%">
                    <TextField class="tanent-input" returnKeyType="done" hint="Enter Tenant" verticalAlignment="middle"
                        style.placeholderColor="#B9B9B9" autocorrect="false" (textChange)="tenantTextField($event)">
                    </TextField>
                </GridLayout>
                <GridLayout row="1" marginTop="5%" width="80%" height="25%">
                    <Button class="pick-tanent-button" color="black" text="Ok" (tap)="pickTanent()">
                    </Button>
                </GridLayout>
            </GridLayout>
        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>

        </GridLayout>

        <GridLayout #airlinesDialog modal size="lg" duration="100">

            <StackLayout #dialogContainer class="dialog-container" (tap)="dialogOutsideClick()">

                <GridLayout>
                    <Label text="Select Airlines" horizontalAlignment="center" verticalAlignment="top">
                    </Label>

                    <Button *ngIf="!isListpicker" [text]="selectedAirline.name" androidElevation="0"
                        androidDynamicElevationOffset="0" horizontalAlignment="center" verticalAlignment="middle"
                        backgroundColor="transparent" borderWidth="0.1" borderColor="transparent" (tap)="showList()">
                    </Button>

                    <ListView *ngIf="isListpicker" height="50%" [items]="locations">
                        <ng-template let-item="item" let-i="index">
                            <Button [text]="item.name" (tap)="airlinesListitemTapped($event,item)"
                                backgroundColor="transparent" borderWidth="0.1" borderColor="transparent"
                                androidElevation="0" androidDynamicElevationOffset="0"></Button>
                        </ng-template>
                    </ListView>
                    <StackLayout orientation="horizontal" horizontalAlignment="center" verticalAlignment="bottom">
                        <Button text="Done" horizontalAlignment="center" verticalAlignment="bottom"
                            backgroundColor="transparent" borderWidth="0.1" borderColor="transparent"
                            androidElevation="0" androidDynamicElevationOffset="0" (tap)="onListDone()"></Button>
                    </StackLayout>

                </GridLayout>

                <FilterableListpicker *ngIf="isListpicker" #myfilter (loaded)="onListLoaded($event)" (tap)="onTap($event)"
          dimmerColor="#ffffff" hintText="Search .." [source]="airlinesList" (canceled)="cancelFilterableList($event)"
          (itemTapped)="airlinesListitemTapped($event)">
        </FilterableListpicker>
        <StackLayout>
          <Label [text]="dialogHeading" class="dialog-heading"></Label>
        </StackLayout>
        <StackLayout row="0" (tap)="showListPiker()">
          <Label [text]="selectedAirline.title" class="dialog-label"></Label>
        </StackLayout>
        <StackLayout row="1" class="dialog-btn-container" orientation="horizontal">
          <Button class="cancel-btn" text="Cancel" (tap)="onAirlinesCancel()"></Button>
          <Button class="buy-btn" text="Done" (tap)="onAirlineDone()"></Button>
        </StackLayout>

            </StackLayout>
            
        </GridLayout>

        <Button text="Scan" (tap)="onScanTap()"></Button>
    </GridLayout>

</Page> -->

<Page class="root" (loaded)="onPageLoaded($event)" [backgroundImage]="backgroundImage">
    <GridLayout columns="*,*">
        <GridLayout col="0">
            <NSImage [src]="appLogo" stretch="none"></NSImage>
        </GridLayout>
        <GridLayout col="1">
            <GridLayout col="1" class="login-card-cnt" horizontalAlignment="center" [backgroundColor]="blueColor">
                <StackLayout class="login-card" orientation="vertical">
                    <TextField class="input-fields" hint="Email" verticalAlignment="middle" autocorrect="false" style.placeholderColor="black" (returnPress)="onEmailReturnPress($event)" returnKeyType="next" (textChange)="emailTextField($event)"></TextField>
                    <TextField class="input-fields" hint="Password" (loaded)="onPasswordTextFieldLoaded($event)" style.placeholderColor="black" verticalAlignment="middle" secure="true" returnKeyType="done" (textChange)="passwordTextField($event)"></TextField>
                    <Button text="Login" class="loginButton" [backgroundColor]="redColor" (tap)="onLoginTap()"></Button>
                    <!-- <Button class="forgot-button" text="Forgot Password" verticalAlignment="middle"></Button> -->
                </StackLayout>
                <Button class="forgot-button" text="TENANT URL" verticalAlignment="bottom" (tap)="onTenantButtonTap()"></Button>
                <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" color="#4C4C4C" [busy]="isRendering"></ActivityIndicator>
            </GridLayout>
        </GridLayout>

    </GridLayout>
</Page>