 /* .grid-container {
     background-image: url("res://splash_screen");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-color: transparent;
     width: 100%;
     height: 100%;
 }
 
 .credential-box {
     vertical-align: middle;
     height: 60%;
     width: 50%;
     background-color: black;
     padding-left: 20%;
     padding-right: 20%;
     border-color: white;
     border-width: 2px;
     border-radius: 10;
     horizontal-align: center;
    
 }
 
 .logo {
     width: 30%;
     height: 75%;
 }
 
 .username-password-icon {
     height: 40%;
     width: 15%;
 }
 
 .dropdown-button {
     border-width: 1;
     border-color: transparent;
     color: white;
     margin-right: 5%;
     background-color: transparent;
     font-size: 12%;
     horizontal-align: right;
     vertical-align: middle;
 }
 
 .password-icon {}
 
 .user-password-icon {
     box-sizing: border-box;
     background-repeat: no-repeat;
     vertical-align: middle;
     width: 10%;
     height: 75%;
 }
 
 .text-input {
     color: #ffffff;
     height: 75%;
     width: 100%;
     font-size: 12%;
 }
 
 .userIcon {
     box-sizing: border-box;
     background-repeat: no-repeat;
     vertical-align: middle;
     width: 100%;
     height: 100%;
 }
 
 .page {
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     width: 100%;
     height: 100%;
     justify-content: flex-end;
     align-items: center;
     flex-direction: column;
     filter: blur(5px);
 }
 
 .forgot-password-label {
     font-size: 10%;
     color: white;
     background-color: transparent;
     z-index: 0;
 }
 
 .forgot-password-label:active {
     font-size: 10%;
     color: #cc3333;
 }
 
 .user-button {
     width: 50%;
 }
 
 .login-button {
     border-radius: 20;
     background-color: #D40000;
     color: white;
     width: 100%;
     height: 100%;
     font-size: 12%;
 }
 
 .login-button:active {
     color: white;
     background-color: #4f4f4f;
 }
 
 .login-button-container {
     height: 18%;
     margin-bottom: 5%;
     border-radius: 20;
     background-color: #cc3333;
     width: 78%;
 }
 
 .tenant-dialog {
     width: 70%;
     height: 100%;
     border-color: white;
     border-width: 1;
     border-radius: 4;
     background-color: black;
 }
 
 .tanent-input {
     color: #ffffff;
     height: 75%;
     width: 80%;
     font-size: 12%;
     border-bottom-color: white;
 }
 
 .pick-tanent-button {
     width: 85%;
     height: 90%;
     border-radius: 50;
     background-color: #3498db;
     background-repeat: no-repeat;
     background-origin: border-box;
     background-position: 5% 50%;
     text-align: center;
     font-size: 14;
     text-transform: none;
 }
 
 .dialog-container {
     width: 50%;
     height: 90%;
     border-color: white;
     border-width: 1;
     border-radius: 4;
     background-color: rgb(245, 238, 238);
 }
 
 .dialog-label {
     width: 80%;
     text-align: center;
     vertical-align: middle;
     margin-top: 10%;
     height: 20%;
     font-size: 21;
     color: #000000;
     border-color: rgb(77, 77, 77);
     border-width: 1;
     border-radius: 4;
 }
 
 .dialog-btn-container {
     width: 90%;
     vertical-align: top;
     horizontal-align: center;
     height: 50%;
 }
 
 .buy-btn {
     border-radius: 50;
     background-color: #3498db;
     color: #ffffff;
     height: 30%;
     margin-left: 10;
     vertical-align: middle;
 }
 
 .cancel-btn {
     border-radius: 50;
     background-color: #3498db;
     color: #ffffff;
     height: 30%;
     vertical-align: middle;
     margin-right: 10;
 }
 
 .dialog-heading {
     width: 80%;
     text-align: center;
     vertical-align: middle;
     margin-top: 10%;
     height: 20%;
     font-size: 24;
     color: #000000;
 } */
 /* <------------------------------------------- New Design -------------------------------------------------------> */
 
 .root {
     height: 100%;
     width: 100%;
     background-color: #4C4C4C;
     background-size: cover;
 }
 
 .app-logo {
     vertical-align: middle;
     width: 56%;
 }
 
 .login-card-cnt {
     width: 98%;
     height: 98%;
     vertical-align: middle;
     border-radius: 36%;
     margin: auto;
     padding: 15;
 }
 
 .login-card {
     vertical-align: middle;
 }
 
 .input-fields {
     background-color: #ffffff;
     font-size: 12;
     margin-bottom: 12;
     padding: 0 15;
     border-radius: 14;
     width: 80%;
     height: 38;
 }
 
 .loginButton {
     border-radius: 14;
     width: 80%;
     color: #ffffff;
     height: 38;
     z-index: 0;
     font-size: 11%;
     font-weight: 400;
     margin-bottom: 12;
 }
 
 .loginButton:active {
     transform: scale(0.99, 0.99);
     opacity: 0.96;
 }
 
 .forgot-button {
     width: 60%;
     height: 14;
     padding: 0;
     font-size: 10%;
     font-weight: 400;
     color: #ffffff;
     background-color: transparent;
     z-index: 0;
 }
 
 .forgot-button:active {
     color: #4C4C4C;
 }