.root {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-color: #4C4C4C;
}

.cancel-cnt {
    height: 36;
    width: 36;
    border-radius: 100%;
    margin: 3% 0% 0% 3%;
    background-color: #ffffff;
    background-image: url("res://close");
    background-size: 65% 65%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    vertical-align: top;
}

.appName-text {
    color: #ffffff;
    font-weight: 900;
}

.details-card-cnt {
    /* margin: 5; */
    width: 98%;
    height: 98%;
    vertical-align: middle;
    border-radius: 36%;
    margin: auto;
    padding: 10 0;
}

.detail-fields {
    height: 28;
    width: 75%;
    font-size: 12;
    color: #262626;
    background-color: #ffffff;
    border-radius: 100%;
    padding: 0 16;
    margin-bottom: 12;
}

.input-fields {
    background-color: #ffffff;
    padding: 0;
}

.color-box {
    height: 22;
    width: 22;
    border-radius: 4;
    margin: 0 4;
    border-width: 0.2;
    border-color: rgb(150, 150, 150);
}

.unselected-color {
    height: 4px;
    background-color: rgb(233, 0, 0);
    width: 22;
    rotate: 135;
}

.redButtons {
    height: 30;
    width: 75%;
    border-radius: 100%;
    font-size: 10;
    font-weight: 500;
    padding: 0;
    z-index: 0;
    background-color: #E04940;
    color: white;
}

.redButtons:active {
    background-color: #CF4234;
}