<!-- <GridLayout *ngIf="booking" (loaded)='onPageLoaded($event)' rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto">

    <Label class="font-weight-bold" fontSize="20" row='0' text="AirPortId"></Label>
    <TextField row='1' width="100%" hint="AirPortId" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="airportIdTextField($event)"></TextField>


    <Label class="font-weight-bold" fontSize="20" row='2' text="Departure"></Label>

    <TextField row='3' width="100%" hint="AirLineId" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="airlineIDDepTextField($event)"></TextField>


    <TextField row='4' width="100%" hint="DepartureAt" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="departureAtTextField($event)"></TextField>

    <TextField row='5' width="100%" hint="FlightNumber" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="flightNumberDepTextField($event)"></TextField>



    <Label class="font-weight-bold" fontSize="20" row='6' text="Arrival"></Label>

    <TextField row='7' width="100%" hint="AirLineId" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="airlineIdAriTextField($event)"></TextField>


    <TextField row='8' width="100%" hint="ArrivalAt" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="arrivalAtTextField($event)"></TextField>

    <TextField row='9' width="100%" hint="FlightNumber" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="flightNumberAtTextField($event)"></TextField>

    <TextField row='10' width="100%" hint="Email" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="carInfoTextField($event)"></TextField>

    <Button row='11' (tap)="onNextClick()" text="Next" textTransform='none'></Button>

</GridLayout>



<GridLayout *ngIf="!booking" width="100%" height="100%" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto">


    <Label class="font-weight-bold" fontSize="20" row='0' text="User"></Label>

    <TextField row='1' width="100%" hint="email" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="emailIdTextField($event)"></TextField>

    <TextField row='2' width="100%" hint="name" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="nameTextField($event)"></TextField>

    <TextField row='3' width="100%" hint="mobile_number" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="numberTextField($event)"></TextField>


    <Label class="font-weight-bold" fontSize="20" row='4' text="CarInfo"></Label>

    <TextField row='5' width="100%" hint="Licence" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="carLicenceTextField($event)"></TextField>

    <TextField row='6' width="100%" hint="CarBrandId" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="carBrandIdTextField($event)"></TextField>

    <TextField row='7' width="100%" hint="Car Model" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="carModelTextField($event)"></TextField>

    <TextField row='8' width="100%" hint="Color" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="carColorTextField($event)"></TextField>

    <Button text="Submit" row='9' (tap)="onSubmitClick()"></Button>
    <Button text="Back" row='10' (tap)="onBackClick()"></Button>


</GridLayout> -->



<Page class="root" (loaded)='onPageLoaded($event)' [backgroundColor]="grayColor">
    <GridLayout columns="*,*">
        <GridLayout col="0">
            <Button row="0" (tap)="onCloseScreen()" class="cancel-cnt" horizontalAlignment="left"></Button>
            <NSImage [src]="appLogo" stretch="none"></NSImage>
        </GridLayout>

        <GridLayout col="1" height="100%" width="100%">
            <GridLayout class="details-card-cnt" [backgroundColor]="blueColor">
                <GridLayout verticalAlignment="middle">
                    <ScrollView orientation="Vertical">

                        <StackLayout orientation="vertical">
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Promo Code:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" verticalAlignment="middle" returnKeyType="next" (textChange)="promoTextField($event)"></TextField>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Name Cognome:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" verticalAlignment="middle" returnKeyType="next" (textChange)="nameTextField($event)"></TextField>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Mail:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" verticalAlignment="middle" returnKeyType="next" (textChange)="emailTextField($event)"></TextField>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Mobile N.:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" verticalAlignment="middle" returnKeyType="next" [text]="mobile" (textChange)="mobileTextField($event)"></TextField>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Car Model:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" verticalAlignment="middle" returnKeyType="next" [text]="CarModel" (textChange)="modelTextField($event)"></TextField>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Car Plate:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" verticalAlignment="middle" returnKeyType="next" [text]="carPlate" (textChange)="plateTextField($event)"></TextField>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Car Color:  " verticalAlignment="middle"></Label>
                                <Scrollview col="1" orientation="horizontal" scrollBarIndicatorVisible="false">
                                    <StackLayout col="1" verticalAlignment="middle" horizontalAlignment="left" orientation="horizontal">
                                        <GridLayout *ngFor="let color of colors; let i=index" [opacity]="selectedColorIndex==i || selectedColorIndex==undefined?'1':'0.6'" (tap)="onColorSelect(i,color)" class="color-box" [backgroundColor]="color">
                                            <StackLayout *ngIf="selectedColorIndex==i" class="unselected-color" opacity="1"></StackLayout>
                                        </GridLayout>
                                    </StackLayout>
                                </Scrollview>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Car Km:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" verticalAlignment="middle" returnKeyType="next" [text]="carKm" (textChange)="carkmTextField($event)"></TextField>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Parking Space:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" verticalAlignment="middle" returnKeyType="next" [text]="parkingSpace" (textChange)="parkingTextField($event)"></TextField>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Flight N:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" verticalAlignment="middle" returnKeyType="next" [text]="flightNo" (textChange)="flightTextField($event)"></TextField>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Arrival Date:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" verticalAlignment="middle" returnKeyType="next" [text]="arrivalDate" (textChange)="arriveTimeTextField($event)"></TextField>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Arrival Time:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" verticalAlignment="middle" returnKeyType="next" [text]="arriveTime" (textChange)="arriveDateTextField($event)"></TextField>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Departure Date:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" verticalAlignment="middle" returnKeyType="next" [text]="depatureDate" (textChange)="depatureTextField($event)"></TextField>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Departure Time:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" verticalAlignment="middle" returnKeyType="next" [text]="DepartureTime" (textChange)="depatureTimeTextField($event)"></TextField>
                            </GridLayout>

                            <Button class="redButtons" text="ACCEPT" (tap)="onNextClick()"></Button>
                        </StackLayout>
                    </ScrollView>
                    <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [color]="grayColor" [busy]="isRendering"></ActivityIndicator>
                </GridLayout>
            </GridLayout>
        </GridLayout>
    </GridLayout>
</Page>