<Page class="root" [backgroundImage]="backgroundImage">
    <GridLayout columns="*,*">
        <GridLayout col="0">
            <NSImage [src]="appLogo" stretch="none"></NSImage>
        </GridLayout>
        <GridLayout col="1">
            <GridLayout class="tenant-card-cnt" horizontalAlignment="center" [backgroundColor]="blueColor">
                <StackLayout class="tenant-card" orientation="vertical">
                    <TextField class="input-fields" hint="Tanent URL" verticalAlignment="middle" style.placeholderColor="black" autocorrect="false" returnKeyType="done" [text]="tanentURL" (textChange)="tenantTextField($event)"></TextField>
                    <Button class="connectButton" [backgroundColor]="redColor" text="CONNECT" (tap)="getAppTheme($event)"></Button>
                </StackLayout>
                <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" color="#4C4C4C" [busy]="isRendering"></ActivityIndicator>
            </GridLayout>
        </GridLayout>
    </GridLayout>
</Page>