 .root {
     height: 100%;
     width: 100%;
     background-color: #4C4C4C;
     background-size: cover;
 }
 
 .tenant-card-cnt {
     width: 98%;
     height: 98%;
     vertical-align: middle;
     border-radius: 36%;
     margin: auto;
     padding: 15;
 }
 
 .tenant-card {
     vertical-align: middle;
 }
 
 .input-fields {
     background-color: #ffffff;
     font-size: 12;
     margin-bottom: 12;
     padding: 0 15;
     border-radius: 14;
     width: 80%;
     height: 40;
 }
 
 .connectButton {
     border-radius: 14;
     width: 80%;
     color: #ffffff;
     height: 38;
     z-index: 0;
     font-size: 11%;
     font-weight: 400;
 }
 
 .connectButton:active {
     transform: scale(0.99, 0.99);
     opacity: 0.96;
 }