<!-- <Page class="page" (loaded)="onPageLoaded($event)" androidStatusBarBackground="black" backgroundColor="white">
    <GridLayout *ngIf="isRendering" class="page">

        <GridLayout *ngIf="isRendering" rows="auto,auto,auto,auto,auto">
            <StackLayout row="0" width="100%" height="15%" orientation="horizontal" columns="auto,auto,auto,auto,auto">
                <GridLayout class="date-input-container" col="3">
                    <StackLayout class="input-container" col="0">
                        <TextField hint="Customer Name" class="input" secure="false" returnKeyType="done" autoCorrect="false" (textChange)="nameTextField($event)"></TextField>
                    </StackLayout>
                    <StackLayout class="input-container" col="1">
                        <TextField hint="Car Plate" class="input" secure="false" returnKeyType="done" autoCorrect="false" (textChange)="carPlateTextField($event)"></TextField>
                    </StackLayout>
                    <StackLayout class="input-container" col="2">
                        <TextField hint="Flight Number" class="input" secure="false" returnKeyType="done" autoCorrect="false" (textChange)="flightNumberTextField($event)"></TextField>
                    </StackLayout>
                    <Label class="date-input" [text]="selectedDate" (tap)="openDatePicker()">
                                   </Label>
                </GridLayout>
                <GridLayout class="search-grid" col="4">
                    <StackLayout class="search-stack" (tap)="onSearchTap()">
                        <Image class="search-img" src="res://search_icon"></Image>
                    </StackLayout>
                </GridLayout>
                <GridLayout class="change-check-mode" col="4">
                    <StackLayout id="interchangeButton" class="search-stack">
                        <Image class="search-img" src="res://interchange" (tap)="onInterchangePress()"></Image>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
            <GridLayout row="1" width="99%" height="7%" backgroundColor="#bdc3c7">
                <Label horizontalAlignment="center" verticalAlignment="middle" [text]="selectedList"></Label>
            </GridLayout>
            <StackLayout row="2" width="100%" height="7%" orientation="horizontal" columns="auto,auto,auto,auto,auto,auto,auto,auto,auto">
                <GridLayout col="0" class="heading-container">
                    <Label class="font-italic car-list-heading" text="Time"></Label>
                </GridLayout>
                <GridLayout col="1" class="heading-container">
                    <Label class="font-italic car-list-heading" text="Name"></Label>
                </GridLayout>
                <GridLayout col="2" class="heading-container">
                    <Label class="font-italic car-list-heading" text="Email"></Label>
                </GridLayout>
                <GridLayout col="3" class="heading-container">
                    <Label class="font-italic car-list-heading" text="Mobile No."></Label>
                </GridLayout>
                <GridLayout col="4" class="heading-container">
                    <Label class="font-italic car-list-heading" text="Car Plate"></Label>
                </GridLayout>
                <GridLayout col="5" class="heading-container">
                    <Label class="font-italic car-list-heading" text="Car Model"></Label>
                </GridLayout>
                <GridLayout col="6" class="heading-container">
                    <Label class="font-italic car-list-heading" text="Car Color"></Label>
                </GridLayout>
                <GridLayout col="7" class="heading-container">
                    <Label class="font-italic car-list-heading" text="Flight No."></Label>
                </GridLayout>
                <GridLayout col="8" class="heading-container">
                    <Label class="font-italic car-list-heading" text="Status"></Label>
                </GridLayout>
            </StackLayout>

            <StackLayout row="3" width="99%" height="0.5%" backgroundColor="#bdc3c7">
            </StackLayout>

            <GridLayout row="4" height="70%">
                <ListView *ngIf="!isLoading" [items]="sourceDataItems" (itemTap)="onItemTap($event)" separatorColor="transparent" rowHeight="25%" width="100%" height="100%">
                    <ng-template let-item="item">
                        <StackLayout width="100%" height="10%" orientation="horizontal" columns="auto,auto,auto,auto,auto,auto,auto,auto,auto">
                            <GridLayout col="0" class="heading-container">
                                <Label class="agenda-detail" [text]="(item!=undefined&&item!=null)?getTime(item.expected_time):''"></Label>
                            </GridLayout>
                            <GridLayout col="1" class="heading-container">
                                <Label class="agenda-detail" [text]="(item!=undefined&&item!=null)?(item.user!=undefined&&item.user!=null)?(item.user.name!=undefined&&item.user.name!=null)?item.user.name:'':'':''"></Label>
                            </GridLayout>
                            <GridLayout col="2" class="heading-container">
                                <Label class="agenda-detail" [text]="(item!=undefined&&item!=null)?(item.user!=undefined&&item.user!=null)?(item.user.email!=undefined&&item.user.email!=null)?item.user.email:'':'':''"></Label>
                            </GridLayout>
                            <GridLayout col="3" class="heading-container">
                                <Label class="agenda-detail" [text]="(item!=undefined&&item!=null)?(item.user!=undefined&&item.user!=null)?(item.user.mobile_no!=undefined&&item.user.mobile_no!=null)?item.user.mobile_no:'':'':''"></Label>
                            </GridLayout>
                            <GridLayout col="4" class="heading-container">
                                <Label class="agenda-detail" [text]="(item!=undefined&&item!=null)?(item.carInfo!=undefined&&item.carInfo!=null)?(item.carInfo.license_plate!=undefined&&item.carInfo.license_plate!=null)?item.carInfo.license_plate:'':'':''"></Label>
                            </GridLayout>
                            <GridLayout col="5" class="heading-container">
                                <Label class="agenda-detail" [text]="(item!=undefined&&item!=null)?(item.carInfo!=undefined&&item.carInfo!=null)?(item.carInfo.model!=undefined&&item.carInfo.model!=null)?item.carInfo.model:'':'':''"></Label>
                            </GridLayout>
                            <GridLayout col="6" class="heading-container">
                                <Label class="agenda-detail" [text]="(item!=undefined&&item!=null)?(item.carInfo!=undefined&&item.carInfo!=null)?(item.carInfo.color!=undefined&&item.carInfo.color!=null)?item.carInfo.color:'':'':''"></Label>
                            </GridLayout>
                            <GridLayout col="7" class="heading-container">
                                <Label class="agenda-detail" [text]="(item!=undefined&&item!=null)?(item.departure!=undefined&&item.departure!=null)?(item.departure.flight_number!=undefined&&item.departure.flight_number!=null)?item.departure.flight_number:'':'':''"></Label>
                            </GridLayout>

                            <StackLayout col="8" class="heading-container" orientation="horizontal">
                                <Image *ngIf="item.checkin==null&&item.checkout==null" width="40%" height="70%" src="res://check_in" stretch="fill">
                                </Image>
                                <Image *ngIf="item.checkin!=null&&item.checkout==null" width="40%" height="70%" src="res://check_out" stretch="fill">
                                </Image>
                                <Image *ngIf="item.checkin!=null&&item.checkout!=null||item.checkin==null&&item.checkout!=null" width="40%" height="70%" src="res://complete" stretch="fill">
                                </Image>
                            </StackLayout>
                        </StackLayout>
                    </ng-template>
                </ListView>
                <GridLayout *ngIf="isLoading" width="100%" height="100%">
                    <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1" colSpan="1">
                    </ActivityIndicator>
                </GridLayout>
            </GridLayout>
            <GridLayout *ngIf="isNavigating" width="100%" height="100%">
                <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1" colSpan="1">
                </ActivityIndicator>

            </GridLayout>
        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1" colSpan="1">
            </ActivityIndicator>

        </GridLayout>

        <GridLayout #datepickerDialog modal opacity="1" zIndex="999" size="sm" duration="100">
            <GridLayout rows="auto,auto" height="100%" width="60%" marginLeft="5%" marginRight="5%" backgroundColor="white" opacity="1" borderRadius="5" borderWidth="1" borderColor="white">
                <DatePicker row="0" height="60%" width="100%" (loaded)="onPickerLoaded($event)" (dateChange)="onDateChanged($event)" (donMonthChangedayChange)="onDayChanged($event)" (monthChange)="onMonthChanged($event)" (yearChange)="onYearChanged($event)" verticalAlignment="center"></DatePicker>
                <Button row="1" height="25%" width="90%" marginTop="5%" marginBottom="5%" class="pick-date-button" color="black" text="Set Date" textTransform="none" (tap)="pickDate()">
                            </Button>
            </GridLayout>
        </GridLayout>

        <GridLayout #scannedList modal opacity="1" zIndex="999" size="sm" duration="100">
            <GridLayout rows="auto,auto" height="100%" width="95%" marginLeft="5%" marginRight="5%" backgroundColor="white" opacity="1" borderRadius="5" borderWidth="1" borderColor="white">
                <ListView #damageList backgroundColor="yellow" row="0" height="73%" width="100%" [items]="scannedPlateResults" verticalAlignment="center" rowHeight="80%" separatorColor="transparent">
                    <ng-template let-item="item">
                        <GridLayout height="auto" rows="auto,auto,auto" columns="*,*">
                            <Label class="text-center" col="0" row="0" color="black" text="Number" borderRightWidth="0.05" borderRightColor="#a1a1a1"></Label>
                            <Label class="text-center" col="1" row="0" color="black" text="Confidence" borderLeftWidth="0.05" borderLeftColor="#a1a1a1"></Label>
                            <StackLayout row="1" height="0.1" colSpan="2" backgroundColor="#a1a1a1"></StackLayout>
                            <Label class="text-center" col="0" row="2" color="blue" [text]="item.number"></Label>
                            <Label class="text-center" col="1" row="2" color="blue" [text]="item.confidence"></Label>
                        </GridLayout>
                    </ng-template>
                </ListView>
                <Button row="1" height="12%" width="60%" marginTop="5%" marginBottom="5%" class="pick-date-button" color="black" text="Ok" textTransform="none" (tap)="closeScannedList()">
                            </Button>
            </GridLayout>
        </GridLayout>
        <Button text="Scan" height="auto" zIndex="99999" verticalAlignment="top" horizontalAlignment="center" width="auto" backgroundColor="black" color="white" (tap)="onScanTap()"></Button>
    </GridLayout>

</Page> -->


<Page class="root" (loaded)="onPageLoaded($event)" [backgroundColor]="whiteColor">
    <GridLayout rows="auto,auto,*">
        <StackLayout row="0" class="first-header" [backgroundColor]="blueColor">
            <GridLayout class="first-header-inner" columns="*,auto,auto,auto">
                <Label col="0" class="header-text" [text]="airportName"></Label>
                <Label col="1" class="header-text" text="PROFILE"></Label>
                <StackLayout col="2" class="notification"></StackLayout>
                <StackLayout col="3" orientation="horizontal" marginLeft="3.5%" (tap)="onLogout()">
                    <Label class="header-text" text="LOG OUT"></Label>
                    <Image col="0" height="36%" marginLeft="4" src="res://enter"></Image>
                </StackLayout>
            </GridLayout>
        </StackLayout>

        <GridLayout row="1" class="secound-header-inner" columns="auto,auto,*,auto,auto,auto">

            <NSImage col="0" class="filters-fields-logo" margin="0 4 0 0" stretch="fill" [src]="checkInIcon" (tap)="onGetCheckInList()"></NSImage>
            <NSImage col="1" class="filters-fields-logo" stretch="fill" [src]="checkOutIcon" (tap)="onGetCheckOutList()"></NSImage>
            <GridLayout col="2" columns="5*,3*,4*,3*">
                <TextField class="input-fields" col="0" hint="Customer Name" style.placeholderColor="#262626" secure="false" returnKeyType="done" autoCorrect="false" (textChange)="nameTextField($event)"></TextField>
                <TextField class="input-fields" col="1" hint="Car Plate" style.placeholderColor="#262626" secure="false" returnKeyType="done" autoCorrect="false" (textChange)="carPlateTextField($event)"></TextField>
                <TextField class="input-fields" col="2" hint="Flight Number" style.placeholderColor="#262626" secure="false" returnKeyType="done" autoCorrect="false" (textChange)="flightNumberTextField($event)"></TextField>
                <TextField class="input-fields" col="3" hint="Date" style.placeholderColor="#262626" secure="false" [text]="selectedDate" editable="false" autoCorrect="false" (tap)="openDatePicker($event)"></TextField>
            </GridLayout>
            <GridLayout col="3" class="filters-fields-logo" [backgroundColor]="blueColor" (tap)="onSearchTap()">
                <Image height="60%" src="res://search_icon" verticalAlignment="middle"></Image>
            </GridLayout>
            <NSImage col="4" class="filters-fields-logo" stretch="fill" [src]="clearFilterIcon" (tap)="onClearFilters()"></NSImage>
            <NSImage col="5" class="filters-fields-logo" stretch="fill" margin="0 0 0 4" [src]="addCarIcon" (tap)="onCreatebooking()"></NSImage>

        </GridLayout>
        <GridLayout row="2" class="list-cnt" horizontalAlignment="center">

            <GridLayout class="lists-cnt-inner" rows="auto,*">
                <GridLayout row="0" width="100%" class="car-list-heading-cnt" columns="auto,*,auto,*,auto,auto,auto,auto,auto">
                    <Label col="0" width="8%" class="car-list-heading" text="Time"></Label>
                    <Label col="1" width="" class="car-list-heading" text="Name"></Label>
                    <Label col="2" width="75" class="car-list-heading center-text" text="Services"></Label>
                    <Label col="3" width="" class="car-list-heading" text="Car Model"></Label>
                    <Label col="4" width="10%" class="car-list-heading" text="Car Plate"></Label>
                    <Label col="5" width="14%" class="car-list-heading center-text" text="Parking space"></Label>
                    <Label col="6" width="80" class="car-list-heading center-text" text="Car Color"></Label>
                    <Label col="7" width="10%" class="car-list-heading" text="Flight N."></Label>
                    <Label col="8" width="40" class="car-list-heading" text="Status"></Label>
                </GridLayout>

                <ListView row="1" *ngIf="!isLoading" [items]="sourceDataItems" (itemTap)="onItemTap($event)" separatorColor="transparent" rowHeight="28">
                    <ng-template let-item="item">
                        <GridLayout row="0" class="car-list" columns="auto,*,auto,*,auto,auto,auto,auto,auto">

                            <Label col="0" width="8%" class="agenda-detail" [text]="(item!=undefined&&item!=null)?getTime(item.expected_time):''"></Label>
                            <Label col="1" width="" class="agenda-detail" [text]="(item!=undefined&&item!=null)&&(item.userInfo!=undefined&&item.userInfo!=null)&&(item.userInfo.name!=undefined&&item.userInfo.name!=null)?item.userInfo.name:''"></Label>
                            <GridLayout col="2" width="75" horizontalAlignment="center" verticalAlignment="middle">
                                <GridLayout class="empty-check"></GridLayout>
                                <Image height="54%" margin="0 0 2 4" [src]="item.checkin!=null&&item.checkout==null?'res://checked':''"></Image>
                            </GridLayout>
                            <Label col="3" width="" class="agenda-detail" [text]="(item!=undefined&&item!=null)&&(item.carInfo!=undefined&&item.carInfo!=null)&&(item.carInfo.model!=undefined&&item.carInfo.model!=null)?item.carInfo.model:''"></Label>
                            <Label col="4" width="10%" class="agenda-detail" [text]="(item!=undefined&&item!=null)&&(item.carInfo!=undefined&&item.carInfo!=null)&&(item.carInfo.license_plate!=undefined&&item.carInfo.license_plate!=null)?item.carInfo.license_plate:''"></Label>
                            <Label col="5" width="14%" class="agenda-detail center-text" [text]="(item!=undefined&&item!=null)&&(item.optionalServices!=undefined&&item.optionalServices!=null)&&(item.optionalServices.length!=0)?item.optionalServices[0].name.en:''"></Label>
                            <GridLayout col="6" width="80">
                                <StackLayout height="12" width="12" verticalAlignment="middle" [backgroundColor]="(item!=undefined&&item!=null)&&(item.carInfo!=undefined&&item.carInfo!=null)&&(item.carInfo.car_color!=undefined&&item.carInfo.car_color!=null)?'#'+item.carInfo.car_color.hex:'#ffffff'"></StackLayout>
                            </GridLayout>
                            <Label col="7" width="10%" class="agenda-detail" [text]="(item!=undefined&&item!=null)&&(item.departure!=undefined&&item.departure!=null)&&(item.departure.flight_number!=undefined&&item.departure.flight_number!=null)?item.departure.flight_number:''"></Label>
                            <StackLayout col="8" verticalAlignment="middle" width="40">
                                <Image *ngIf="item.checkin==null&&item.checkout==null" height="60%" src="res://enter_black"></Image>
                                <Image *ngIf="item.checkin!=null&&item.checkout==null" height="60%" src="res://exits_black"></Image>
                                <Image *ngIf="item.checkin!=null&&item.checkout!=null||item.checkin==null&&item.checkout!=null" height="60%" src="res://check_out">
                                </Image>
                            </StackLayout>

                        </GridLayout>
                    </ng-template>
                </ListView>
                <GridLayout *ngIf="isLoading" row="1" width="100%" height="100%">
                    <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" color="#4C4C4C" [busy]="isLoading" rowSpan="1" colSpan="1">
                    </ActivityIndicator>
                </GridLayout>

            </GridLayout>
            <GridLayout #datepickerDialog modal opacity="1" zIndex="999" size="m" duration="100">
                <GridLayout rows="*,auto" height="100%" width="60%" marginLeft="5%" marginRight="5%" backgroundColor="white" opacity="1" borderRadius="5" borderWidth="1" borderColor="white">
                    <DatePicker row="0" height="92%" width="100%" (loaded)="onPickerLoaded($event)" (dateChange)="onDateChanged($event)" verticalAlignment="center"></DatePicker>
                    <Button row="1" verticalAlignment="bottom" class="calander-button" text="Set Date" textTransform="none" (tap)="pickDate()">
                    </Button>
                </GridLayout>
            </GridLayout>
        </GridLayout>
    </GridLayout>

</Page>