.root {
    height: 100%;
    width: 100%;
}

.first-header {
    height: 32;
    width: 100%;
    padding: 0;
}

.first-header-inner {
    width: 92%;
    margin: auto;
}

.header-text {
    font-size: 10;
    font-weight: 500;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: middle;
    padding: 0;
}

.notification {
    height: 7;
    width: 7;
    background-color: #E04940;
    border-radius: 100%;
    vertical-align: top;
    margin-top: 25%;
}

.secound-header-inner {
    width: 92%;
    margin: 14 auto;
}

.filters-fields-logo {
    height: 38;
    width: 38;
    border-radius: 8;
    margin: 0 4;
}

.input-fields {
    background-color: #ffffff;
    font-size: 10;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 12;
    border-radius: 12;
    min-width: 100;
    height: 38;
    margin: 0 4;
    vertical-align: middle;
    color: #262626;
}

.list-cnt {
    width: 92%;
    margin-bottom: 2%;
}

.lists-cnt-inner {
    background-color: #ffffff;
    border-radius: 24;
}

.car-list-heading-cnt {
    border-width: 0 0 2.6 0;
    border-color: #eaeaea;
    height: 10%;
    margin-top: 2%;
    padding: 0 16%;
}

.car-list-heading {
    color: #262626;
    font-size: 10;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: middle;
}

.car-list {
    padding: 0% 16%;
    vertical-align: middle;
}

.center-text {
    text-align: center;
}

.agenda-detail {
    color: #262626;
    font-size: 11;
    /* font-weight: 500; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: middle;
}

.calander-button {
    color: white;
    background-color: #3498db;
    height: 18%;
    width: 70%;
    padding: 0;
    border-radius: 16;
    margin-bottom: 6%;
}

.empty-check {
    height: 14;
    width: 14;
    border-radius: 2;
    border-width: 1.4;
    border-color: #d3d3d3;
}