<!-- <StackLayout>
    <Label color="#000000" borderTopLeftRadius="2" borderTopRightRadius="2" fontWeight="700" text="itemsndjkgnname">
</Label>
</StackLayout>

<ScrollView [height]="height" backgroundColor="#ffffff">
    <StackLayout class="main-container">

        <StackLayout *ngFor="let item of items;let i = 'index'">

            <StackLayout class="current-plan-container">

                <GridLayout marginLeft="15" marginTop="5" marginBottom="2.5">
                    <Label color="#000000" borderTopLeftRadius="2" borderTopRightRadius="2" fontWeight="700" [text]="item.name">
                    </Label>
                </GridLayout>

                <GridLayout marginLeft="15" marginTop="2.5" marginBottom="5">
                    <Label color="red" borderBottomLeftRadius="2" borderBottomRightRadius="2" fontWeight="700" [text]="'$ '+item.amount">
                    </Label>
                </GridLayout>
            </StackLayout>

            <GridLayout class="plan-title-container" columns="auto,*">
                <Label class="plan-price" col="0" text="Price"></Label>
                <Label class="plan-title" col="1" text="Service name"></Label>
            </GridLayout>
            <GridLayout class="upgrade-container" *ngFor="let upgrade of item.items;let a = 'index'" (tap)="onSelect(i,a)">
                <GridLayout row="0" col="0" columns="auto,*" marginBottom="5" marginTop="2.5">
                    <StackLayout col="0" class="radio-btn" [backgroundColor]="upgrade.isSelected?'gray':'#ffffff'">
                    </StackLayout>
                    <Label col="1" class="upgrade-price" [text]="'$ '+upgrade.amount">
                    </Label>
                </GridLayout>
                <GridLayout class="" rows="auto" columns="auto,*">
                    <GridLayout row="0" col="1" marginTop="5" marginBottom="2.5" horizontalAlignment="center">
                        <Label class="text-center" width="auto" [text]="upgrade.name">
                        </Label>
                    </GridLayout>

                </GridLayout>

            </GridLayout>
            <GridLayout class="upgrade-button-container">
                <Button (tap)="onUpgrade()" class="upgrade-button" text="Upgrade">
                </Button>
            </GridLayout>
            <StackLayout height="1" backgroundColor="transparent">
            </StackLayout>
        </StackLayout>
    </StackLayout>
</ScrollView> -->

<GridLayout class="service-card">
    <StackLayout orientation="vertical" *ngIf="acceptService">
        <GridLayout columns="auto,*" class="detail-fields">
            <Label col="0" text="Pick Up - Drop Off" verticalAlignment="middle"></Label>
        </GridLayout>
        <GridLayout columns="auto,*" class="detail-fields">
            <Label col="0" text="Car Wash IN-OUT" verticalAlignment="middle"></Label>
        </GridLayout>
        <GridLayout columns="auto,*" class="detail-fields">
            <Label col="0" text="Pneumatics" verticalAlignment="middle"></Label>
        </GridLayout>
        <GridLayout columns="auto,*" class="detail-fields">
            <Label col="0" text="Fuel" verticalAlignment="middle"></Label>
        </GridLayout>

        <Button class="font-weight-bold leftButtons connectButton redButtons" text="ADD SERVICE" (tap)="onAddService()"></Button>
    </StackLayout>

    <StackLayout *ngIf="!acceptService" orientation="vertical" verticalAlignment="middle">
        <GridLayout columns="auto,*" class="detail-fields">
            <Label col="0" text="Pick Up - Drop Off" verticalAlignment="middle"></Label>
        </GridLayout>
        <GridLayout columns="auto,*" class="detail-fields">
            <Label col="0" text="Car Wash IN" verticalAlignment="middle"></Label>
        </GridLayout>
        <GridLayout columns="auto,*" class="detail-fields">
            <Label col="0" text="Car Wash OUT" verticalAlignment="middle"></Label>
        </GridLayout>
        <GridLayout columns="auto,*" class="detail-fields">
            <Label col="0" text="Car Wash IN-OUT" verticalAlignment="middle"></Label>
        </GridLayout>
        <GridLayout columns="auto,*" class="detail-fields">
            <Label col="0" text="Pneumatics" verticalAlignment="middle"></Label>
        </GridLayout>
        <GridLayout columns="auto,*" class="detail-fields">
            <Label col="0" text="Maintenance" verticalAlignment="middle"></Label>
        </GridLayout>
        <GridLayout columns="auto,*" class="detail-fields">
            <Label col="0" text="Fuel" verticalAlignment="middle"></Label>
        </GridLayout>
        <Button class="font-weight-bold leftButtons connectButton redButtons" text="ACCEPT" (tap)="onSubmitClick()"></Button>
    </StackLayout>

    <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" color="#4C4C4C" [busy]="isRendering"></ActivityIndicator>
</GridLayout>