.service-card {
    vertical-align: middle;
}

.detail-fields {
    height: 28;
    width: 75%;
    font-size: 12;
    color: #262626;
    background-color: #ffffff;
    border-radius: 100%;
    padding: 0 15;
    margin-bottom: 12;
}

.input-fields {
    background-color: #ffffff;
    padding: 0;
}

.color-box {
    height: 22;
    width: 22;
    border-radius: 4;
    margin: 0% 2%;
    border-width: 0.4;
    border-color: rgb(150, 150, 150);
}

.redButtons {
    width: 75%;
    color: #ffffff;
    border-radius: 100%;
    background-color: #E04940;
    font-size: 10;
    font-weight: 500;
    height: 30;
    padding: 0;
    z-index: 0;
}

.redButtons:active {
    background-color: #CF4234;
}