.main-container {
    background-color: #ffffff;
}

.current-plan-container {
    background-color: #a8a8a6;
    width: 95%;
    horizontal-align: center;
    margin-top: 10;
}

.plan-title-container {
    width: 95%;
    horizontal-align: center;
    border-bottom-color: #a8a8a6;
    border-bottom-width: 1;
}

.plan-title {
    text-align: left;
    color: #000000;
    font-weight: 400;
    margin: 5 0 5 5;
}

.plan-price {
    text-align: left;
    color: #000000;
    font-weight: 400;
    width: 40%;
    margin: 5 0 5 15;
}

.upgrade-container {
    width: 95%;
    horizontal-align: center;
    border-bottom-color: #a8a8a6;
    border-bottom-width: 1;
}

.radio-btn {
    height: 20;
    width: 20;
    border-radius: 20;
    border-color: #a8a8a6;
    border-width: 0.7;
    vertical-align: middle;
    margin: auto 10;
}

.upgrade-price {
    color: red;
    margin: 5;
}

.upgrade-button-container {
    width: 95%;
    margin-top: 10;
    padding: 0;
}

.upgrade-button {
    z-index: 0;
    background-color: green;
    border-width: 0.1;
    border-color: transparent;
    android-elevation: 0;
    color: white;
    border-radius: 10;
    vertical-align: middle;
    height: 35;
    width: 30%;
    padding: 0;
}


/* <------------------new Design ------------------------------> */

.service-card {
    vertical-align: middle;
}

.detail-fields {
    height: 28;
    width: 75%;
    font-size: 12;
    color: #262626;
    background-color: #ffffff;
    border-radius: 100%;
    padding: 0 15;
    margin-bottom: 12;
}

.input-fields {
    background-color: #ffffff;
    padding: 0;
}

.color-box {
    height: 22;
    width: 22;
    border-radius: 4;
    margin: 0% 2%;
    border-width: 0.4;
    border-color: rgb(150, 150, 150);
}

.redButtons {
    width: 75%;
    color: #ffffff;
    border-radius: 100%;
    background-color: #E04940;
    font-size: 10;
    font-weight: 500;
    height: 30;
    padding: 0;
    z-index: 0;
}

.redButtons:active {
    background-color: #CF4234;
}