<!-- <RadSideDrawer #rad gesturesEnabled="true">

    <GridLayout tkDrawerContent rows="auto" backgroundColor="black" opacity="0.5">
        <Button class="slider-button text-left" text="Logout" (tap)="onLogout()"></Button>
    </GridLayout> -->

<StackLayout tkMainContent height="100%" width="100%">
    <GridLayout class="page">
        <router-outlet></router-outlet>
        <!-- <Label class="text-center connection-label" [backgroundColor]="labelBackground"
                [text]="connectionStatusText" opacity="0.8"></Label> -->
    </GridLayout>
</StackLayout>

<!-- </RadSideDrawer> -->