<GridLayout [height]="height" [width]="width" [backgroundColor]="backgroundColor" columns="*,*">
    <Button col="0" (tap)="onLeftClick(0)" [height]="height" [width]="width" [text]="leftLabelText"
        [style.backgroundColor]="selectedLeftColor" [style.borderColor]="borderColor" [style.borderWidth]="borderWidth"
        [style.borderBottomLeftRadius]="borderRadius" [color]="leftLabelTextColor" [style.borderTopLeftRadius]="borderRadius"
        [style.borderBottomRightRadius]="0" [style.borderTopRightRadius]="0"></Button>

    <Button col="1" [text]="rightLabelText" (tap)="onRightClick(1)" [height]="height"
        [width]="width" [style.backgroundColor]="selectedRightColor" [style.borderColor]="borderColor"
        [style.borderWidth]="borderWidth" [style.borderBottomLeftRadius]="0" [style.borderTopLeftRadius]="0" [color]="rightLabelTextColor"
        [style.borderBottomRightRadius]="borderRadius" [style.borderTopRightRadius]="borderRadius"></Button>
</GridLayout>