<!-- <GridLayout class="page" (loaded)="onPageLoaded($event)" androidStatusBarBackground="black">

    <GridLayout *ngIf="isRendering" rows="auto,auto">
        <GridLayout class="action-bar" row="0" columns="auto,auto,auto,auto">
            <GridLayout col="0" height="100%" width="10%">
                <StackLayout width="100%" height="100%">
                    <Button class="action-menu back-btn" (tap)="navigateBack()">
                    </Button>
                </StackLayout>
            </GridLayout>
            <GridLayout col="1" columns="auto,auto" height="100%" width="40%">
                <Label class="action-heading" col="0" text="Name : ">
                </Label>
                <Label class="action-body" col="1" [text]="userName">
                </Label>
            </GridLayout>
            <GridLayout col="2" columns="auto,auto" height="100%" width="40%">
                <Label class="action-heading" col="0" text="Car Plate : ">
                </Label>
                <Label class="action-body" col="1" [text]="carPlate">
                </Label>
            </GridLayout>
            <GridLayout col="3" height="100%" width="10%">
                <StackLayout id="menuButton" width="100%" height="100%">
                    <Button class="action-menu option-menu-btn" (tap)="openMenu()">
                    </Button>
                </StackLayout>
            </GridLayout>
        </GridLayout>

        <GridLayout class="body" row="1" columns="auto,auto,auto">
            <StackLayout col="0" width="20%" height="100%" borderWidth="1" borderColor="#3498db">
                <ListView #damageList class="page" [items]="damageItems" (itemTap)="onItemTap($event)" rowHeight="80%" separatorColor="transparent">
                    <ng-template let-item="item">
                        <GridLayout>
                            <Image class="damage-list-image" [src]="baseUrls+'/images/small/'+item.filename" stretch="aspectFill">
                            </Image>
                        </GridLayout>
                    </ng-template>
                </ListView>
            </StackLayout>
            <GridLayout col="1" rows="auto,auto" width="60%" height="100%">
                <GridLayout row="0" columns="*,*" width="100%" height="30%" borderWidth="1" borderColor="#3498db">
                    <GridLayout col="0" width="50%" height="100%">
                        <Image #image class="signature-image" stretch="fill" [src]="signatureSource" decodeWidth="200" decodeHeight="200" loadMode="async">
                        </Image>
                    </GridLayout>
                    <GridLayout col="1" width="50%" height="100%">
                        <Button #button class="signature-button" [isEnabled]="isUploadEnabled" text="Get Signature" (tap)="saveSignature()">
                        </Button>
                    </GridLayout>
                </GridLayout>
                <GridLayout class="signature-pad-container" row="1">
                    <DrawingPad #signaturePad (loaded)="onSignaturePadLoaded($event)" penColor="black" penWidth="5">
                    </DrawingPad>
                </GridLayout>
            </GridLayout>
            <GridLayout col="2" rows="auto,auto" width="20%" height="100%" borderWidth="1" borderColor="#3498db">
                <GridLayout row="0" width="100%" height="30%">
                    <Button class="checkin-clear-button" [backgroundColor]="checkInOutButtonColor" [text]="checkButtonText" (tap)="checkInOut()">
                    </Button>
                </GridLayout>
                <GridLayout row="1" width="100%" height="70%">
                    <Button class="checkin-clear-button" text="Clear" (tap)="clearMyDrawing()">
                    </Button>
                </GridLayout>
            </GridLayout>
        </GridLayout>

    </GridLayout>
    <GridLayout #selectionDialog modal dismissable="true" size="sm" duration="100">
        <GridLayout class="damage-dialog" rows="auto,auto">
            <GridLayout row="0" width="80%" height="30%" marginTop="17.5%">
                <Button class="signature-capture-button" color="black" text="Capture From Camera" (tap)="captureImage()">
                </Button>
            </GridLayout>
            <GridLayout row="1" marginTop="5%" width="80%" height="30%">
                <Button class="pick-image-button" color="black" text="Pick From Gallery" (tap)="pickImage()">
                </Button>
            </GridLayout>
        </GridLayout>
    </GridLayout>

    <StackLayout #damageDialog modal size="sm" alignment="middle" duration="100">
        <GridLayout class="damage-dialog" rows="auto,auto,auto" width="70%">
            <GridLayout row="0" width="75%" height="25%" marginTop="5%">
                <TextField class="position-type-textfield" hint="Enter Damage Position" (textChange)="onTextChangePositionType($event)">
                </TextField>
            </GridLayout>
            <GridLayout row="1" width="75%" height="25%" marginTop="5%">
                <switch-button width="100%" height="100%" leftLabelText="Inside" (leftButton)="onLeftClick($event)" (rightButton)="onRightClick($event)" rightLabelText="Outside" selectedColor="#3498db" borderColor="#3498db">
                </switch-button>
            </GridLayout>
            <GridLayout row="2" width="75%" height="25%" marginBottom="5%" marginTop="5%">
                <Button class="damage-submit" text="Submit" (tap)="onDamageSubmit()">
                </Button>
            </GridLayout>
            <ActivityIndicator row="1" color="white" [busy]="isBusy">
            </ActivityIndicator>
        </GridLayout>
    </StackLayout>



    <StackLayout #damageImageConfirm modal dismissable="true" size="sm" alignment="middle" duration="100">
        <GridLayout class="damage-dialog" rows="auto,auto" width="70%">
            <GridLayout row="0" width="75%" height="25%" marginTop="10%">
                <Label color="#ffffff" text="Want to update image of damage?">
                </Label>
            </GridLayout>
            <GridLayout row="1" columns="*,*" width="75%" height="25%" marginBottom="5%" marginTop="20%">
                <Button col="0" marginRight="2%" class="damage-submit" text="Yes" (tap)="onImageUpdateYes()">
                </Button>
                <Button col="1" marginLeft="2%" class="damage-submit" text="No" (tap)="onImageUpdateNo()">
                </Button>
            </GridLayout>
        </GridLayout>
    </StackLayout>


    <StackLayout #welcomeDialog modal size="lg" duration="100">
        <GridLayout class="welcome-dialog" rows="auto,auto">
            <StackLayout row="0" width="100%" height="40%" verticalAlignment="middle">
                <Image height="100%" width="100%" stretch="aspectFill" src="res://valet_logo">
                </Image>
            </StackLayout>
            <StackLayout row="0" width="10%" height="15%" verticalAlignment="top" horizontalAlignment="right">
                <Button class="welcome-cancel-button cancel-button" (tap)="onCancelWelcome()">
                </Button>
            </StackLayout>
            <StackLayout row="1" width="100%" height="60%" verticalAlignment="middle">
                <Label [text]="userName" color="#FFFFFF" textwrap="true" fontSize="80%" textAlignment="center">
                </Label>
            </StackLayout>
        </GridLayout>
    </StackLayout>

    <StackLayout #upgradeList modal size="lg" *ngIf="!isEmpty" duration="100">
        <GridLayout class="welcome-dialog">
            <ScrollView class="welcome-dialog" backgroundColor="red">
                <GridLayout>

                    <StackLayout *ngFor="let item of upgradableListItems">

                        <Label fontWeight="700" [text]="item.name">
                        </Label>
                        <Label fontWeight="700" [text]="item.amount">
                        </Label>

                        <StackLayout *ngFor="let upgrade of item.items">

                            <Label [text]="upgrade.name">
                            </Label>
                            <Label [text]="upgrade.amount">
                            </Label>

                        </StackLayout>

                    </StackLayout>
                </GridLayout>
            </ScrollView>

            <HeaderList height="75%" #upgradeListComponent [items]="upgradableListItems"></HeaderList>
            <Button class="cancel-button" height="20%" width="10%" verticalAlignment="top" horizontalAlignment="right" (tap)="onUpgradeListCancel()"></Button>
        </GridLayout>
    </StackLayout> 

    <GridLayout *ngIf="!isRendering" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1" colSpan="1">
        </ActivityIndicator>

    </GridLayout>

</GridLayout> -->

<Page class="root" [backgroundColor]="grayColor">
    <GridLayout columns="*,*">
        <GridLayout col="0" rows="auto,*">
            <Button row="0" (tap)="onDestroyScreen()" class="cancel-cnt" horizontalAlignment="left"></Button>

            <GridLayout row="1" rows="*,auto,auto,auto,auto,auto" horizontalAlignment="center" verticalAlignment="middle">
                <GridLayout row="0">
                    <Image height="100%" [src]="appLogo"></Image>
                </GridLayout>
                <GridLayout row="1" class="left-card-text" orientation="horizontal" columns="*,*,*">
                    <Label col="0" horizontalAlignment="left" text="Simone Greco"></Label>
                    <Label col="1" horizontalAlignment="center" text="Nissan Jake"></Label>
                    <Label col="2" horizontalAlignment="right" text="a5b7jh"></Label>
                </GridLayout>
                <Button row="2" class="leftButtons" text="Reservation" (tap)="onReserviationTap()"></Button>
                <Button row="3" class="leftButtons" text="Optional Service" (tap)="onServicesTap()"></Button>
                <Button row="4" class="leftButtons" text="Add Car Damage Images" (tap)="onAddDamageTap()"></Button>
                <Button row="5" class="leftButtons redButtons" text="CHECK-IN/OUT" (tap)="oncheckInOutTap()"></Button>
            </GridLayout>

        </GridLayout>

        <GridLayout col="1" height="100%" width="100%">

            <GridLayout class="details-card-cnt" [backgroundColor]="blueColor">
                <GridLayout *ngIf="showCarsDetailsCard" verticalAlignment="middle">
                    <ScrollView orientation="vertical">

                        <StackLayout orientation="vertical">
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Promo Code:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" hint="code" verticalAlignment="middle" returnKeyType="done" [text]="promoCode" (textChange)="promoTextField($event)"></TextField>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Name Cognome:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" hint="name" verticalAlignment="middle" returnKeyType="done" [text]="userName" (textChange)="nameTextField($event)"></TextField>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Mail:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" hint="mail" verticalAlignment="middle" returnKeyType="done" [text]="email" (textChange)="emailTextField($event)"></TextField>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Mobile N.:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" hint="mobile" verticalAlignment="middle" returnKeyType="done" [text]="mobile" (textChange)="mobileTextField($event)"></TextField>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Car Model:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" hint="model" verticalAlignment="middle" returnKeyType="done" [text]="CarModel" (textChange)="modelTextField($event)"></TextField>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Car Plate:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" hint="plate no." verticalAlignment="middle" returnKeyType="done" [text]="carPlate" (textChange)="plateTextField($event)"></TextField>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Car Color:  " verticalAlignment="middle"></Label>
                                <Scrollview col="1" orientation="horizontal" scrollBarIndicatorVisible="false">
                                    <StackLayout col="1" verticalAlignment="middle" horizontalAlignment="left" orientation="horizontal">
                                        <GridLayout *ngFor="let color of colors; let i=index" [opacity]="selectedColorIndex==i || selectedColorIndex==undefined?'1':'0.6'" (tap)="onColorSelect(i,color)" class="color-box" [backgroundColor]="'#'+ color">
                                            <StackLayout *ngIf="selectedColorIndex==i || bookingModel.carInfo.car_color.hex==color" class="unselected-color" opacity="1"></StackLayout>
                                        </GridLayout>
                                    </StackLayout>
                                </Scrollview>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Car Km:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" hint="km." verticalAlignment="middle" returnKeyType="done" [text]="carKm" (textChange)="carkmTextField($event)"></TextField>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Parking Space:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" hint="parking" verticalAlignment="middle" returnKeyType="done" [text]="parkingSpace" (textChange)="parkingTextField($event)"></TextField>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Flight N:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" hint="flight n." verticalAlignment="middle" returnKeyType="done" [text]="flightNo" (textChange)="flightTextField($event)"></TextField>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Arrival Date:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" hint="arrival" verticalAlignment="middle" returnKeyType="done" editable="false" [text]="arrivalDate"></TextField>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Arrival Time:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" hint="arrival" verticalAlignment="middle" returnKeyType="done" editable="false" [text]="arriveTime"></TextField>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Departure Date:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" hint="departure" verticalAlignment="middle" returnKeyType="done" editable="false" [text]="depatureDate"></TextField>
                            </GridLayout>
                            <GridLayout columns="auto,*" class="detail-fields">
                                <Label col="0" text="Departure Time:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" hint="departure" verticalAlignment="middle" returnKeyType="done" editable="false" [text]="DepartureTime"></TextField>
                            </GridLayout>

                            <Button class="redButtons" text="MODIFY" (tap)="onUpdateCarDetails()"></Button>
                        </StackLayout>
                    </ScrollView>
                </GridLayout>

                <GridLayout *ngIf="showSignatureCard" class="signature-pad" rows="*,auto,auto" orientation="Vertical" verticalAlignment="middle">
                    <DrawingPad row="0" #signaturePad (loaded)="onSignaturePadLoaded($event)" penColor="#262626" penWidth="4"></DrawingPad>
                    <Button #button row="2" class="acceptButton" text="ACCEPT" [isEnabled]="isUploadEnabled" (tap)="saveSignature()"></Button>
                </GridLayout>

                <HeaderList *ngIf="showServicesCard" orientation="Vertical" verticalAlignment="middle" width="100%" [items]="upgradableListItems"></HeaderList>

                <StackLayout *ngIf="showAddDamageCard" class="signature-pad" orientation="Vertical" verticalAlignment="middle">
                    <GridLayout *ngIf="captureButtonShow" rows="auto,auto">
                        <Button row="0" class="redButtons" text="Capture From Camera" margin="6 0" (tap)="captureImage()"></Button>
                        <Button row="1" class="redButtons" text="Pick From Gallery" margin="6  0" (tap)="pickImage()"></Button>
                    </GridLayout>
                    <GridLayout rows="auto,*,auto" *ngIf="!captureButtonShow">
                        <Button row="0" (tap)="onCanceldamagepositionScreen()" class="white-cancel-cnt" horizontalAlignment="left" margin="12"></Button>
                        <GridLayout row="1" rows="auto,auto" verticalAlignment="middle">
                            <GridLayout row="0" columns="auto,*" class="detail-fields">
                                <Label col="0" text="Damage Position:  " verticalAlignment="middle"></Label>
                                <TextField col="1" class="input-fields" verticalAlignment="middle" returnKeyType="done" (textChange)="onTextChangePositionType($event)"></TextField>
                            </GridLayout>
                            <GridLayout row="1" columns="*,6,*" class="damage-button">
                                <Button col="0" [class]="postionType=='inside'?'redButtons':'whiteButtons'" text="Inside" margin="6 0" (tap)="onLeftClick()"></Button>
                                <Button col="2" [class]="postionType=='outside'?'redButtons':'whiteButtons'" text="Outside" margin="6 0" (tap)="onRightClick()"></Button>
                            </GridLayout>
                        </GridLayout>
                        <Button row="2" class="acceptButton" text="SUBMIT" [isEnabled]="isUploadEnabled" (tap)="onDamageSubmit()"></Button>
                    </GridLayout>
                </StackLayout>

                <StackLayout *ngIf="showDamageAndsignatureCard" class="signature-pad" orientation="Vertical" verticalAlignment="middle">
                    <GridLayout rows="auto,*,auto,auto">
                        <ScrollView orientation="horizontal" row="0" width="100%" height="25%">
                            <StackLayout orientation="horizontal" class="damage-image-cnt">
                                <GridLayout rows="*,auto" *ngFor="let item of damageItems" class="damage-list-image" (Tap)="onItemTap(item)">
                                    <Image row="0" stretch="fill" borderRadius="10 10 0 0" [src]="baseUrls+'/images/small/'+item.filename"></Image>
                                    <GridLayout row="1" columns="*,auto" [backgroundColor]="blueColor" height="12" borderRadius="0 0 10 10" padding="0 4">
                                        <Label col="0" [text]="item.position" verticalAlignment="middle" color="#ffffff" fontSize="8"></Label>
                                        <Image col="1" [src]="item.recorded_on=='checkin'?'res://enter':'res://exits'" verticalAlignment="middle" height="65%" margin="0 4"></Image>
                                    </GridLayout>
                                    <Image *ngIf="currentDamageImage == item.filename" width="32" src="res://ticks"></Image>
                                </GridLayout>
                            </StackLayout>
                        </ScrollView>
                        <StackLayout row="1" width="100%" [backgroundColor]="grayColor" padding="2,0">
                            <Image *ngIf="currentDamageImage" [src]="baseUrls+'/images/large/'+currentDamageImage" stretch="fill" loadMode="async"></Image>
                        </StackLayout>
                        <GridLayout row="2" height="25%" backgroundColor="#ffffff">
                            <Button row="0" (tap)="onClearSignature()" class="white-cancel-cnt" horizontalAlignment="left" verticalAlignment="top" margin="6"></Button>
                            <Image row="1" stretch="fill" [src]="signatureSource" loadMode="async" (tap)="!signatureSource?onReserviationTap():''"></Image>
                        </GridLayout>
                        <Button row="3" class="acceptButton" [isEnabled]="isUploadEnabled" [text]="checkButtonText" (tap)="checkInOut()"></Button>
                    </GridLayout>
                </StackLayout>

            </GridLayout>
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [color]="grayColor" [busy]="isRendering"></ActivityIndicator>
        </GridLayout>
    </GridLayout>
</Page>