#selectionDialog {
    z-index: 99999;
}

#damageDialog {
    z-index: 99999;
}

#damageImageConfirm {
    z-index: 99999;
}

#welcomeDialog {
    z-index: 99999;
}

#damageList {
    background-color: white;
    padding: 0%;
}


/* #signaturePad {
    height: 100%;
    width: 100%;
    background-color: #3498db;
} */

.action-bar {
    height: 15%;
    width: 100%;
    background-color: #3498db;
}

.body {
    height: 85%;
    width: 100%;
}

.action-heading {
    color: white;
    /* font-size: 20; */
    font-weight: 500;
    margin-left: 5%;
    vertical-align: middle;
    horizontal-align: left;
}

.action-body {
    color: black;
    /* font-size: 20; */
    font-weight: 500;
    vertical-align: middle;
    horizontal-align: left;
}

.action-menu {
    height: 100%;
    width: 100%;
}

.signature-pad-container {
    width: 100%;
    height: 70%;
    border-width: 1;
    border-color: #3498db;
    background-color: #3498db;
}

.checkin-clear-button {
    width: 90%;
    height: 50;
    background-color: #3498db;
    color: black;
    font-size: 20;
    font-weight: 500;
    text-align: center;
    border-radius: 5;
    text-transform: none;
    vertical-align: middle;
    horizontal-align: center;
}

.checkin-clear-button:hover {
    background-color: gray;
    color: white;
}

.signature-button {
    width: 90%;
    height: 50vh;
    vertical-align: middle;
    horizontal-align: center;
    color: black;
    background-color: #3498db;
    font-size: 20;
    font-weight: 500;
    text-align: center;
    border-radius: 5;
    text-transform: none;
}

.popup-button {
    background-color: #3498db;
    font-size: 20;
    font-weight: 500;
    text-align: center;
    border-radius: 5;
    text-transform: none;
}

.signature-image {
    width: 60%;
    height: 90%;
    vertical-align: middle;
    horizontal-align: center;
    background-color: white;
    border-color: #3498db;
    border-radius: 5;
    border-width: 2;
}

.car-images {
    width: 90%;
    height: 100%;
    margin-top: 10;
    background-color: white;
    border-color: #3498db;
    border-radius: 5;
    border-width: 2;
}

button,
label,
stack-layout {
    horizontal-align: center;
}

button {
    font-size: 36;
}

.title {
    font-size: 30;
    margin: 20;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
}

.imageStack {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.capture {
    background-image: url("res://camera");
    background-repeat: no-repeat;
    width: 55%;
    height: 33%;
    background-position: 85% 50%;
    padding-left: 5%;
    background-origin: border-box;
}

.pick {
    background-image: url("res://gallery");
    background-repeat: no-repeat;
    width: 55%;
    height: 33%;
    background-position: 85% 50%;
    padding-left: 5%;
    background-origin: border-box;
}

.getOrClick {
    width: 50vh;
    height: 50vh;
    background-color: red;
    /* border-radius:25vh; */
    box-shadow: 25vh 25vh 25vh #979090;
}

.btn1 {
    display: inline-block;
    text-decoration: none;
    color: rgba(152, 152, 152, 0.43);
    /*IconColor*/
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    background-image: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #b5b5b5;
}

.btn1 .fa {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    line-height: 80px;
}

.btn1:active {
    /*onClick*/
    background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: none;
}

.option-menu-btn {
    background-image: url('res://menu_icon');
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40% 50%;
    border-width: 1;
    border-color: transparent;
}

.option-menu-btn:active {
    background-color: #696969;
}

.back-btn {
    background-image: url('res://back');
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40% 50%;
    border-width: 1;
    border-color: transparent;
}

.back-btn:active {
    background-color: #696969;
}

.signature-capture-button {
    background-image: url("res://camera_icon");
    background-size: 10% 42%;
    width: 85%;
    height: 90%;
    border-radius: 5;
    background-color: #3498db;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: 5% 50%;
    text-align: center;
    font-size: 14;
    text-transform: none;
}

.signature-capture-button:active {
    background-color: #1e5a83;
}

.pick-image-button {
    background-image: url("res://gallery_icon");
    background-size: 10% 42%;
    width: 85%;
    height: 90%;
    border-radius: 5;
    background-color: #3498db;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: 5% 50%;
    text-align: center;
    font-size: 14;
    text-transform: none;
}

.pick-image-button:active {
    background-color: #1e5a83;
}

.damage-dialog {
    width: 70%;
    height: 100%;
    border-color: white;
    border-width: 1;
    border-radius: 4;
}

.welcome-dialog {
    width: 100%;
    height: 100%;
}

.position-type-textfield {
    border-radius: 4;
    place-holder: #3a3939;
    background-color: #3498db;
    color: black;
}

.damage-submit {
    border-radius: 5;
    background-color: #3498db;
    color: black;
    width: 100%;
    height: 100%;
    font-size: 18;
}

.damage-submit:active {
    background-color: #1e5a83;
}

.cancel-button {
    background-color: transparent;
    background-image: url("res://cross_icon");
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: center;
    padding: 0;
}

.cancel-button:active {
    background-color: #1e5a83;
}

.welcome-cancel-button {
    border-radius: 10%;
    border-color: rgb(189, 180, 180);
    border-width: 2;
    width: 100%;
    height: 100%;
}


/* <---------------------------------------new Design -----------------------------------------> */

.root {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.cancel-cnt {
    height: 36;
    width: 36;
    border-radius: 100%;
    margin: 3% 0% 0% 3%;
    background-color: #ffffff;
    background-image: url("res://close");
    background-size: 65% 65%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.white-cancel-cnt {
    height: 22;
    width: 22;
    border-radius: 100%;
    background-color: #4C4C4C;
    background-image: url("res://cross_icon");
    background-size: 58% 58%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.left-card-text {
    color: #ffffff;
    width: 74%;
    font-size: 10;
    font-weight: 500;
    vertical-align: top;
    height: 22;
}

.app-logo {
    vertical-align: middle;
    horizontal-align: center;
    width: 56%;
}

.leftButtons {
    width: 75%;
    height: 30;
    border-radius: 100%;
    font-size: 10;
    font-weight: 500;
    padding: 0;
    z-index: 0;
    margin-bottom: 12;
    color: #262626;
    background-color: #ffffff;
}

.leftButtons:active {
    background-color: #EAE8ED;
    transform: scale(0.99, 0.99);
}

.redButtons {
    width: 75%;
    height: 30;
    border-radius: 100%;
    font-size: 10;
    font-weight: 500;
    padding: 0;
    z-index: 0;
    color: #ffffff;
    background-color: #E04940;
}

.redButtons:active {
    background-color: #CF4234;
}

.whiteButtons {
    height: 30;
    width: 75%;
    color: #262626;
    border-radius: 100%;
    background-color: #ffffff;
    font-size: 10;
    font-weight: 500;
    padding: 0;
    z-index: 0;
}

.whiteButtons:active {
    background-color: #CF4234;
    color: #ffffff;
}

.details-card-cnt {
    /* margin: 5; */
    width: 98%;
    height: 98%;
    vertical-align: middle;
    border-radius: 36%;
    margin: auto;
    padding: 10 0;
}

.detail-fields {
    height: 28;
    width: 75%;
    font-size: 12;
    color: #262626;
    background-color: #ffffff;
    border-radius: 100%;
    padding: 0 16;
    margin-bottom: 12;
}

.input-fields {
    background-color: #ffffff;
    padding: 0;
}

.color-box {
    height: 22;
    width: 22;
    border-radius: 4;
    margin: 0 4;
    border-width: 0.2;
    border-color: rgb(150, 150, 150);
}

.unselected-color {
    height: 4px;
    background-color: rgb(233, 0, 0);
    width: 22;
    rotate: 135;
}

.signature-pad {
    vertical-align: middle;
    height: 90%;
    width: 90%;
    background-color: #E9F4FA;
    border-radius: 32%;
    padding: 0;
}

.acceptButton {
    width: 100%;
    color: #ffffff;
    border-radius: 0 0 32% 32%;
    font-size: 10;
    font-weight: 500;
    height: 10%;
    padding: 0;
    z-index: 0;
    background-color: #E04940;
}

.acceptButton:active {
    background-color: #CF4234;
}

.damage-button {
    width: 75%;
}

.damage-image-cnt {
    border-radius: 32% 32% 0 0;
    padding: 14 0 8 0;
}

.damage-list-image {
    border-radius: 10;
    height: 100%;
    margin: 0 5;
    width: 120;
    background-color: #cccccc;
}