@import '~nativescript-theme-core/css/core.light.css';
@keyframes slide-down {
    0% {
        transform: translate(0, 0)
    }
    100% {
        transform: translate(0, 100%)
    }
}

@keyframes slide-up {
    from {
        transform: translate(0, 100%);
    }
    to {
        transform: translate(0, 0);
    }
}

.page {
    height: 100%;
    width: 100%;
}

.connection-label {
    color: white;
    background-color: #000000;
    width: 100%;
    height: 5%;
    transform: translate(0, 100%);
    vertical-align: bottom;
    animation-name: slide-up;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.slider-button{
    height: 20%;
    width:100%;
    color:white;
    background-color: #d40000;
    background-image: url('res://logout');
    background-repeat: no-repeat;
    background-position:10% 50%;
    background-size: 10% 35%;
    padding-left:75%;
}

.slider-button:active{
    background-color: gray;
}