@keyframes scanning {
    0% {
        transform: translate(0, 0vh);
    }
    25% {
        transform: translate(0, 100vh);
    }
    50% {
        transform: translate(0, 200vh);
    }
    75% {
        transform: translate(0, 100vh);
    }
    100% {
        transform: translate(0, 0vh);
    }
}

.scan-indicator {
    position: relative;
    background-color: blue;
    height: 1%;
    width: 200vh;
    animation-name: scanning;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.back-button {
    background-image: url('res://back');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 25% 50%;
    height: 50%;
    width: 50%;
    horizontal-align: left;
    margin-left: 25%;
}

.back-button:active {
    background-color: #696969;
}

.camera-rot {
    background-image: url('res://camera_rear');
    background-repeat: no-repeat;
    background-size: contain;
}

.camera-flash {
    background-image: url('res://camera_flash');
    background-repeat: no-repeat;
    background-size: contain;
    width: 25%;
    height: 12%;
    horizontal-align: left;
    margin-left: 15%;
    margin-top: 25%;
}

.camera-flash:active {
    background-image: url('res://camera_flash_clicked');
    background-repeat: no-repeat;
    background-size: contain;
}