<Page>
    <GridLayout height="100%" width="100%" rows="auto,auto">
        <GridLayout row="0" backgroundColor="#3498db" columns="auto,auto,auto" width="100%" height="15%">
            <GridLayout col="0" columns="auto,auto" height="100%" width="8%">
                <Button class="back-button" (tap)="onBackPress($event)"></Button>
            </GridLayout>
            <GridLayout col="1" columns="auto,auto" height="100%" width="45%">
            </GridLayout>
            <GridLayout col="2" height="100%" width="10%">
                <StackLayout id="menuButton" width="50%" height="50%">
                    <!-- <Button class="action-menu option-menu-btn" (tap)="openMenu()"></Button> -->
                </StackLayout>
            </GridLayout>
        </GridLayout>
        <GridLayout row="1" columns="auto,*" width="100%" height="85%">
            <GridLayout col="0" width="30%" rows="auto,auto">
                <GridLayout row="0" height="15%" borderColor="black" borderBottomWidth="1px">
                    <!-- <Label class="h3 m-15 p-10 ex3" text="bbhbhbn" color="red" shadow elevation="2" shape="RECTANGLE"
                        cornerRadius="15"></Label> -->

                    <Label class="text-center" color="#3498db" fontSize="22" verticalAlignment="middle" text="Plate Numbers"></Label>
                </GridLayout>
                <StackLayout row="1" height="85%">
                    <ListView [items]="listItems" rowHeight="50%" height="100%">
                        <ng-template let-item="item">
                            <GridLayout>
                                <Label class="text-center" color="black" fontSize="24" verticalAlignment="middle" [text]="item.Ludo"></Label>
                            </GridLayout>
                        </ng-template>
                    </ListView>
                </StackLayout>
            </GridLayout>
            <GridLayout col="1" backgroundColor="gray">

                <Label class="font-weight-normal" marginTop="3%" text="Scan Number Plates" fontSize="24" horizontalAlignment="center" verticalAlignment="top" color="white"></Label>


                <GridLayout height="200vh" width="200vh">
                    <MLKitTextRecognition (scanResult)="onTextRecognitionResult($event)">
                    </MLKitTextRecognition>

                    <Image src="res://camera_focus" stretch="fill" height="200vh" width="200vh">
                    </Image>

                    <GridLayout #scanningline verticalAlignment="top" class="scan-indicator" backgroundColor="blue">

                    </GridLayout>
                </GridLayout>

                <GridLayout rows="auto,auto" width="30%" height="100%" horizontalAlignment="right">
                    <Button row="0" class="camera-flash">

                    </Button>
                    <Button row="1" class="camera-flash">

                    </Button>
                </GridLayout>
            </GridLayout>

        </GridLayout>

    </GridLayout>

</Page>